language: python
matrix:
  include:
    - os: linux
      dist: xenial
    - os: linux
      dist: trusty
    - os: osx
      osx_image: xcode8
python:
  - 3.5
install:
  - pip install virtualenv
  - pip install tox
  - pip install PyInstaller
script:
  - tox
  - pyinstaller -F conductr_cli/conduct.py
  - pyinstaller conduct.spec
  - pyinstaller -F conductr_cli/sandbox.py
  - pyinstaller sandbox.spec
  - pyinstaller -F conductr_cli/shazar.py
  - pyinstaller shazar.spec
deploy:
  provider: pypi
  user: typesafehub
  password:
    secure: E/UXwcU4VFxoz1P22DCtMiBMN7i8Y7UONoC/5gIyaYt5oKcM5Tdutd0TOywa1n9R7+jLSMQwn44vj/LnVV1e9HUFVvkMBX/oqSsR89bst6ihQr2CcxOm7LEBO0Yt7O8dZrsyXb+NzHq+RLh8yHx5csL62iT4vB5KQpEZOWVMDVw=
  on:
    tags: true
    repo: typesafehub/conductr-cli
